@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
section {
  display: block;
}

.max-width-100 {
  max-width: 100%;
}

.rounded {
  border-radius: 1.25rem !important;
}

.top {
  border-bottom: solid 1px #e4e4e4;
  color: #989898;
}
.top .store-location,
.top .phone {
  border-left: solid 1px #989898;
}

.slider img {
  max-width: 100%;
}

.large-category {
  background: url(../images/watch-bg.png) no-repeat;
  background-size: 100%;
  min-height: 445px;
}
.large-category .top-text {
  width: 30%;
  margin-left: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #363634;
}
.large-category .category-img {
  padding-top: 6rem;
}
.large-category .subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}
.large-category .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: #a81a00;
}

.watch-img {
  top: -70px;
  right: -20px;
}

.red-bg {
  background: #f2eae3;
}

.product-title {
  color: #2176d0;
  font-size: 18px;
  font-weight: 600;
}

.product-small-description {
  color: #363634;
  font-weight: 600;
  margin: 10px 0;
}

.product-img {
  top: 30px;
  right: 0;
  width: 60%;
}
.product-img img {
  max-width: 100%;
}

.blue-bg {
  background: #cde5fb;
}
.blue-bg .product-img {
  width: 58%;
  top: 40px;
  right: -10px;
}

.heading {
  border-bottom: solid 1px #e5e5e5;
}
.heading h2 {
  font-size: 27px;
  color: #1f1f1f;
  margin: 0px;
  position: relative;
}
.heading h2::after {
  content: "";
  background: #2176d0;
  height: 4px;
  width: 40px;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
.heading .view-all-btn {
  text-transform: capitalize;
  background: url(../images/arrow.png) no-repeat right center;
  padding-right: 20px;
  color: #2176d0;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.heading .view-all-btn:hover {
  color: #3751ee;
  text-decoration: none;
}

.card {
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.card .card-title {
  font-size: 16px;
  color: #000;
  display: block;
}
.card .light-text {
  color: #636363;
  font-size: 18px;
  margin-right: 10px;
  text-transform: uppercase;
}
.card .light-price {
  text-decoration: line-through;
}
.card .overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  padding: 10px;
}
.card .overlay a {
  background: #fff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.card .overlay a img {
  height: 20px;
  width: 20px;
}
.card .overlay a span {
  position: absolute;
  left: 60px;
  font-size: 12px;
  background: #000;
  text-align: center;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  display: none;
  transition: all 0.3s ease-in-out;
}
.card .overlay a span:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #000;
  border-width: 8px 8px 8px 0;
  top: 26px;
  left: -8px;
  margin-top: -20px;
}
.card .overlay a:hover span {
  display: block;
}
.card:hover {
  box-shadow: 0px 5px 20px rgba(68, 68, 68, 0.2);
}
.card:hover .overlay {
  display: block;
}
.card .product-price {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-left: 10px;
}

.owl-new-arivals .owl-dots {
  display: none;
}
.owl-new-arivals .item {
  padding: 0 10px 20px;
}
.owl-new-arivals .owl-next {
  right: -20px;
}
.owl-new-arivals .owl-prev {
  left: -20px;
}
.owl-new-arivals .owl-prev,
.owl-new-arivals .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-new-arivals .owl-prev span,
.owl-new-arivals .owl-next span {
  font-size: 50px;
  font-weight: 100;
  line-height: 1;
}
.owl-new-arivals .owl-prev span:focus,
.owl-new-arivals .owl-next span:focus {
  outline: none !important;
}

.new-arival-banner {
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  padding: 8% 0;
  position: relative;
  padding: 20px;
}
.new-arival-banner .new-arival-banner-detail {
  padding: 10% 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.new-arival-banner .new-arival-banner-detail h1 {
  font-size: 54px;
  font-weight: 700;
}
.new-arival-banner .new-arival-banner-detail h3 {
  font-size: 35px;
}
.new-arival-banner .new-arival-banner-detail a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 30px;
  font-size: 18px;
}

.services-card {
  transition: all 0.3s ease-in-out;
  border: solid 1px #b7b7b7;
  border-radius: 0;
  text-align: center;
  margin-top: 2rem;
}
.services-card .card-thum {
  transition: all 0.3s ease-in-out;
  left: 0;
  right: 0;
  height: 76px;
  width: 76px;
  background: #fff;
  border: solid 1px #b7b7b7;
  border-radius: 50%;
  margin: auto;
  top: -40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-card .card-thum .normal {
  display: block;
}
.services-card .card-thum .selected {
  display: none;
}
.services-card h3 {
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}
.services-card:hover {
  border: solid 1px #2176d0;
  box-shadow: none;
}
.services-card:hover .card-thum {
  border: solid 1px #2176d0;
  background: #2176d0;
}
.services-card:hover .card-thum .normal {
  display: none;
}
.services-card:hover .card-thum .selected {
  display: block;
}
.services-card:hover h3 {
  color: #2176d0;
}

footer {
  background: #f4f4f4;
  color: #6c6c6c;
}
footer h5 {
  font-weight: 600;
}
footer a {
  color: #6c6c6c;
  margin-bottom: 10px;
}
footer a:hover {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 14px;
  color: #363634;
}

/*# sourceMappingURL=style.css.map */
